@import 'global.scss';

.landingPage {
	width: 100vw;
	padding: 1rem;
	position: relative;
	height: 100vh;
	display: flex;
	header {
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			font-size: 6.5rem;
			color: #6f0c0c;
			margin: 0 0 2rem 0;
		}
		h3 {
			font-family: 'Gilroy-Light';
			font-size: 1.8rem;
			margin-bottom: 2rem;
		}
	}
	figure {
		width: 40%;
		display: grid;
		place-items: center;
	}
	button {
		padding: 1px 0.6rem;
		background-color: $backgroundOrange;
		font-size: 2.2rem;
		transition: $transition;
		&:hover {
			background-color: darken($backgroundOrange, 5%);
			transform: none;
		}
	}
	.buttonContainer {
		display: flex;
		justify-content: center;
	}
}
.form {
	position: absolute;
	border-radius: 0.5rem;
	background-color: $backgroundYellow;
	top: 50%;
	left: 50%;
	padding: 1rem;
	transform: translate(-50%, -50%);
	width: 400px;
	border: 5px solid $backgroundViolet;
	z-index: 3;
	input {
		font-size: 1rem;
		width: 100%;
		margin: auto;
		margin-bottom: 0.5rem;
		display: block;
		padding: 5px;
	}
	.buttonClose {
		position: absolute;
		padding: 0.2rem;
		right: 0;
		top: 0;
		border-radius: 0;
		background-color: $red;
		border: 1px solid $borderColor;
		display: grid;
		place-items: center;
		cursor: pointer;
		font-size: 0.8rem;
	}
	.content {
		width: 80%;
		margin: auto;
		label {
			display: block;
			margin-bottom: 0.1rem;
		}
		.submitButton {
			height: 1.6rem;
			display: flex;
			justify-content: center;
			button {
				font-size: 1.2rem;
				display: block;
			}
		}
	}
	@include phone {
		width: 70%;
		top: 60%;
		display: flex;
		align-items: center;
		font-size: 2rem;
		input {
			font-size: 2rem;
		}
		.content {
			label {
				display: block;
				margin-bottom: 0.1rem;
			}
		}
		.submitButton {
			height: 2.6rem;
			margin-top: 1rem;
			button {
				font-size: 1.8rem;
			}
		}
		.buttonClose {
			font-size: 1.2rem;
		}
	}
}
