.landing-page {
	width: 100%;
	height: 100vh;
	padding: 1rem;
	position: relative;
}
.header-landing-page {
	width: 60%;
	margin-left: 2rem;
	margin-top: 2rem;
}
.header-landing-page-main {
	font-size: 6.5rem;
	color: #6f0c0c;
	margin: 0;
}
.header-landing-page-secoundary {
	font-family: 'Gilroy-Light';
	text-align: center;
	font-size: 1.8rem;
	margin: 0;
	margin-top: 2rem;
}
.landing-page img {
	position: absolute;
	top: 15vh;
	left: 58%;
}
.button-start {
	margin: auto;
	padding: 1px 0.6rem;
	display: block;
	margin-top: 2.5rem;
	background-color: var(--backgroundOrange);
	font-size: 2rem;
	transition: background-color 0.15s ease-in;
}
.button-start:hover {
	background-color: hsl(21, 83%, 65%);
	transform: none;
}
