.landing-page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.landing-page-header {
	font-family: Lato;
	margin-top: 3rem;
	font-size: 3rem;
	margin-bottom: 1rem;
	text-align: center;
}
.landing-page main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.landing-page-button {
	background-color: #daf2bb;
	font-weight: 600;
	padding: 0 1rem;
	font-size: 2rem;
	letter-spacing: 1px;
	width: fit-content;
	margin-top: 1rem;
}
.landing-page img {
	height: 15rem;
}
