.landing-page {
	width: 100%;
	padding: 1rem;
	position: relative;
	height: 100vh;
}
.header-landing-page {
	width: 60%;
	margin-left: 2rem;
	margin-top: 10vh;
}
.header-landing-page-main {
	font-size: 6.5rem;
	color: #6f0c0c;
	margin: 0;
}
.header-landing-page-secoundary {
	font-family: 'Gilroy-Light';
	text-align: center;
	font-size: 1.8rem;
	margin: 0;
	margin-top: 2rem;
}
.landing-page img {
	position: absolute;
	top: 15vh;
	left: 58%;
}
.button-login {
	padding: 1px 0.6rem;
	display: block;
	background-color: hsl(21, 83%, 65%);
	font-size: 2.2rem;
	transition: background-color 0.15s ease-in;
}
.button-login:hover {
	background-color: var(--backgroundOrange);
	transform: none;
}
.container-button-login {
	width: 60%;
	margin-left: 2rem;
	margin-top: 2.5rem;
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 500px) {
	.landing-page {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		height: initial;
	}
	.header-landing-page {
		width: 100%;
		margin: 0 0 1rem 0;
		text-align: center;
	}
	.header-landing-page-main {
		font-size: 7.5rem;
	}
	.header-landing-page-secoundary {
		display: none;
	}
	.landing-page img {
		max-width: 100%;
		position: initial;
		margin-bottom: 1rem;
	}
	.container-button-login {
		width: initial;
		margin: 0;
	}
	.button-login {
		font-size: 3rem;
	}
}
