.landing-page {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
}
.landing-page-header {
	margin-top: 3rem;
	font-size: 3rem;
	margin-bottom: 7px;
	width: 25rem;
	text-align: center;
}
.landing-page main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.landing-page button {
	font-size: 2rem;
	padding: 10px;
	width: fit-content;
}
.landing-page img {
	height: 15rem;
}
.wb-title {
	color: black;
	text-align: center;
	font-size: 25px !important;
}
.wb-icon {
	filter: invert(1);
}
.wb-body {
	background-color: #eaf3c8 !important;
	display: grid;
	place-items: center;
}
.wb-body h1 {
	margin: 0;
	padding: 0;
}
#login-form {
	display: flex;
	flex-direction: column;
	width: 60%;
	align-items: center;
}
#login-form input {
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 5px;
}
#login-form button {
	width: fit-content;
	font-size: 1.5rem;
}
