.form-login {
	position: absolute;
	border-radius: 0.5rem;
	background-color: var(--backgroundYellow);
	top: 50%;
	left: 50%;
	padding: 1rem;
	transform: translate(-50%, -50%);
	width: 400px;
	border: 5px solid var(--backgroundViolet);
}
.label-login-panel {
	display: block;
	margin-bottom: 0.1rem;
}
.form-login input {
	font-size: 1rem;
	width: 100%;
	margin: auto;
	margin-bottom: 0.5rem;
	display: block;
	padding: 5px;
}
.login-form-content {
	width: 80%;
	margin: auto;
}
.button-close-window {
	position: absolute;
	padding: 0.2rem;
	right: 0;
	top: 0;
	border-radius: 0;
	background-color: var(--red);
	border: 1px solid var(--borderColor);
	display: grid;
	place-items: center;
	cursor: pointer;
}
.button-submit-login {
	font-size: 1.2rem;
	margin: auto;
	display: block;
}
