.schedule {
	text-align: center;
	width: 100%;
	display: flex;
	padding-top: 1rem;
}
td {
	width: 8rem;
	height: 3rem;
	padding: 0;
	border: 1px solid black;
}
.station-table {
	border-collapse: collapse;
	margin-bottom: 2rem;
}
.white-background {
	background-color: #fff;
	cursor: default;
}
.list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0;
}
.list-item {
	width: fit-content;
	height: 1.5rem;
	margin: 0 0 0.8rem 0;
}
.draggable:hover {
	cursor: grab;
	background-color: blue;
	color: azure;
}
.cell-drag-over {
	cursor: grab;
	background-color: rgb(38, 38, 228) !important;
	color: azure;
}
