.schedule {
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	padding-top: 2rem;
	display: flex;
}
.list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: column;
	align-items: center;
	margin: 0;
}
.list-item {
	width: fit-content;
	height: 1.5rem;
	margin: 0 0 0.8rem 0;
}
