.wb-title {
	color: black;
	text-align: center;
	font-size: 25px !important;
	font-family: 'Gilroy' !important;
}
.wb-icon {
	filter: invert(1);
}
.wb-body {
	padding: 0 1rem;
	background-color: var(--backgroundYellow);
	display: grid;
	place-items: center;
}
.wb-body h2 {
	text-align: center;
	font-family: Roboto;
	margin: 0;
}
