@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy'),
		url('../assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy-Light';
	src: local('Gilroy-Light'),
		url('../assets/fonts/Gilroy-Light.otf') format('opentype');
}
