$backgroundBlue: #c8eaf3;
$fontColor: #06151a;
$backgroundYellow: #eaf3c8;
$backgroundViolet: #cdc0f9;
$backgroundOrange: #f4af8b;
$borderColor: #3f1a06;
$red: #f11717;
$transition: all 0.15s ease-in-out;
$mobile-width: 500px;
