.action-panel {
	box-sizing: border-box;
	width: 8rem;
	background-color: var(--backgroundYellow);
	height: fit-content;
	position: sticky;
	top: 3rem;
	padding: 0.5rem;
	border: 1px solid black;
	margin-right: 0.5rem;
}
.action-panel h3 {
	margin-top: 0;
}
.status-text {
	margin: 0 0 5px 0;
	font-size: 0.9rem;
}
.status-bar {
	height: 1rem;
	width: 100%;
}
.form-create-schedules-date {
	width: 100%;
}
.form-create-schedules-date label {
	font-weight: bold;
}
.form-create-schedules-date input {
	font-size: 0.8rem;
	border-radius: 5px;
	margin: 0.5rem 0;
}
