.table-station {
	border-collapse: collapse;
	margin-bottom: 2rem;
}
.table-station td {
	width: 8rem;
	height: 3rem;
	border: 1px solid black;
}
.white-background,
.orange-background {
	font-weight: 500;
	cursor: default;
}
.white-background {
	background-color: #fff;
}
.orange-background {
	background-color: var(--backgroundOrange);
}
.list {
	list-style-type: none;
}
.list-item {
	min-height: 1.5rem;
	width: fit-content;
	margin: 0 auto 0.6rem auto;
	border-radius: 5px;
	display: grid;
	place-items: center;
}
li:last-child {
	margin-bottom: 0 !important;
}
.draggable:hover {
	cursor: grab;
	background-color: blue;
	color: azure !important;
}
.cell-drag-over {
	cursor: grab;
	background-color: rgb(38, 38, 228) !important;
	color: azure;
}
.article-comments {
	width: 32rem;
	margin-bottom: 1rem;
	border: 1px solid black;
}
.header-comments {
	background-color: var(--backgroundViolet);
	width: 100%;
	height: 3rem;
	margin: 0;
	border-bottom: 1px solid black;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.article-comments h3 {
	font-size: 1.2rem;
}
.textarea-comments {
	resize: none;
	width: 100%;
	font-size: 1rem;
	font-family: inherit;
	padding: 5px;
	border: none;
}
