.login-form {
	position: absolute;
	background-color: #eaf3c8;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	height: 230px;
	width: 400px;
	align-items: center;
	justify-content: center;
	border: 5px solid #cdc0f9;
}
.login-form input {
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 5px;
}
.button-close-window {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 0;
	background-color: red;
	font-weight: bold;
	color: black;
	border: 1px solid black;
}
.submit-login-button {
	font-size: 1.5rem;
}
