a {
	color: inherit;
	text-decoration: none;
}
.button-generic {
	background-color: var(--backgroundViolet);
	border: 1px solid black;
	border-radius: 5px;
	font-size: 1rem;
	padding: 1px 0.5rem;
	cursor: pointer;
}
.button-generic:hover {
	transform: translate(+1px, +1px);
	border-style: dashed;
}
.button-disabled {
	pointer-events: none;
}
.button-fontello {
	padding-left: 1px !important;
	padding-right: 1px !important;
}
