.select-date-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-bottom: 1rem;
}
.select-date-form input {
	color: black;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0.5rem;
}
.select-date-form label {
	margin-bottom: 1rem;
	font-weight: bold;
}
.select-date-form label h3 {
	margin: 0;
	padding: 0;
}
.button-today {
	margin: 0 0.5rem;
}
.button-fontello {
	padding-left: 1px !important;
	padding-right: 1px !important;
}
.fontello {
	font-size: 1rem;
}
