.select_date_form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-bottom: 1rem;
}
.select_date_form input {
	color: black;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}
.select_date_form label {
	margin-bottom: 1rem;
}
.today-button {
	margin-left: 1rem;
	background-color: aquamarine;
	border: 1px solid black;
	font-size: 1rem;
	cursor: pointer;
}
.today-button:hover {
	transform: translate(-1px, -1px);
	border-style: dashed;
}
