.navbar {
	top: 0;
	box-sizing: content-box;
	z-index: 2;
	width: 98%;
	height: 3rem;
	padding: 0 1%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	transition: background-color 0.15s ease-in-out,
		border-bottom 0.15s ease-in-out;
}
.header-navbar {
	grid-column-start: 2;
	margin: 0;
	text-align: center;
}
