@import 'global.scss';

.nav {
	top: 0;
	box-sizing: content-box;
	z-index: 2;
	width: 98%;
	height: 3rem;
	padding: 0 1%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	transition: $transition;
	.menuTrigger {
		border: none;
		font-family: 'Roboto';
		font-size: inherit;
		background-color: inherit;
		cursor: pointer;
		transition: $transition;
	}
	.menu {
		grid-column-start: 1;
		justify-self: start;
		position: relative;
		ul {
			position: absolute;
			top: calc(100% + 0.5rem);
			background-color: $backgroundYellow;
			padding: 1rem;
			border-radius: 5px;
			box-shadow: 0 2px 5px 0 rgba(244, 175, 139, 0.9);
			opacity: 0;
			pointer-events: none;
			transform: translateY(-20px);
			transition: $transition;
			list-style: none;
			z-index: 5;
			li {
				cursor: pointer;
				margin-bottom: 1rem;
				width: max-content;
				&:hover {
					text-decoration: underline;
				}
				.active {
					text-decoration: underline;
				}
			}
		}
	}
	.header {
		grid-column-start: 2;
		margin: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 500px) {
	.nav {
		font-size: 1.5rem;
	}
	.menu {
		ul {
			width: 100vw;
			left: -1vw;
			text-align: center;
			display: grid;
			place-items: center;
			overflow: visible;
		}
	}
}
