.employees-section {
	background-color: var(--backgroundViolet);
	position: sticky;
	width: 8rem;
	top: 3rem;
	margin-left: 0.5rem;
	border: 1px solid black;
	padding: 0 1rem;
	height: max-content;
	border-radius: 10px;
}
