.form-select-date {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	margin-bottom: 1rem;
}
.form-select-date input {
	color: black;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 0.5rem;
}
.form-select-date label {
	margin-bottom: 1rem;
	font-weight: bold;
}
.form-select-date label h3 {
	margin: 0;
	padding: 0;
}
.button-today {
	margin: 0 0.5rem;
}
