.main-calendar {
	width: 80%;
	margin: 3rem auto;
}

.fc-theme-standard td {
	border: 1px solid black !important;
}
.fc-col-header-cell-cushion {
	font-size: 1.5rem;
	line-height: 2rem;
}
/* DOPRACUJ STYLE */
