.main-calendar {
	width: 60rem;
	margin: 2rem auto;
	background-color: var(--backgroundYellow);
	border: 1px solid black;
	border-radius: 15px;
	padding: 1rem;
}
.fc-daygrid-body {
	border-bottom: 1px solid black !important;
	border-left: 1px solid black !important;
	border-right: 1px solid black !important;
}
.fc-col-header-cell-cushion {
	font-size: 1.5rem;
	line-height: 2rem;
}
.fc-scrollgrid-section-body {
	background-color: #fff;
}
.fc-col-header {
	background-color: var(--backgroundViolet);
	border: 1px solid black !important;
}
.fc-daygrid-day {
	height: 6rem;
}
.fc-col-header-cell {
	border: none !important;
}
.fc-view-harness-active {
	border-radius: 1rem !important;
}
.fc-daygrid-day.fc-day-today {
	background-color: rgba(134, 163, 28, 0.15) !important;
}
.fc-daygrid-day-number {
	padding: 10px !important;
}
td.fc-day-sat,
td.fc-day-sun {
	background-color: rgba(206, 63, 20, 0.15) !important;
}
.fc-event-title-container {
	text-align: center;
}
