@import-normalize;
@import 'sass/variables.scss';
@import 'sass/fonts.scss';

:root {
	--backgroundBlue: #c8eaf3;
	--fontColor: #06151a;
	--backgroundYellow: #eaf3c8;
	--backgroundViolet: #cdc0f9;
	--backgroundOrange: #f4af8b;
	--borderColor: #3f1a06;
	--red: #f11717;
	font-size: 22px;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $backgroundBlue;
	color: $fontColor;
	min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Gilroy';
}
a {
	color: inherit;
	text-decoration: none;
}
input:focus {
	box-shadow: 0px 0px 20px $backgroundViolet;
}
kbd {
	background-color: #eee;
	border-radius: 3px;
	border: 1px solid #b4b4b4;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
		0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
	color: #333;
	display: inline-block;
	font-size: 0.85em;
	font-weight: 700;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}
aside {
	background-color: $backgroundViolet;
	height: max-content;
	width: 8rem;
	position: sticky;
	top: 15vh;
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 10px;
}
input {
	padding: 1px 2px;
}
input[type='date'] {
	text-align: center;
}
li:last-child {
	margin-bottom: 0 !important;
}
/* Chrome calendar icon in date input */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
	margin: 0;
}
@media only screen and (max-width: $mobile-width) {
	:root {
		font-size: 14px;
	}
	aside {
		display: none;
	}
}
@media print {
	* {
		break-inside: avoid;
	}
	aside {
		display: none !important;
	}
}
@media print {
	* {
		break-inside: avoid;
	}
	.not-printable {
		display: none !important;
	}
}
.list {
	list-style-type: none;
}
.list-item {
	min-height: 1.5rem;
	width: fit-content;
	margin: 0 auto 0.6rem auto;
	border-radius: 5px;
	display: grid;
	place-items: center;
}
.draggable {
	&:hover {
		cursor: grab;
		background-color: blue;
		color: azure !important;
	}
}
.button {
	font-family: Work Sans;
	font-weight: 600;
	background-color: $backgroundOrange;
	border: 1px solid $borderColor;
	border-radius: 5px;
	font-size: 1rem;
	padding: 1px 0.5rem;
	cursor: pointer;
	transition: transform 0.05s linear;
	&:hover {
		transform: translate(+1.5px, +1.5px);
	}
	&-disabled {
		pointer-events: none;
	}
}
.schedules {
	text-align: center;
	width: 100%;
	display: flex;
	padding-top: 1rem;
	&-content {
		display: flex;
		flex-flow: column;
		align-items: center;
		flex-grow: 2;
		flex-shrink: 0;
	}
}
input[type='date'] {
	text-align: center;
}
/* Chrome calendar icon in date input */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
	margin: 0;
}
.red-font {
	color: #a80505;
}
.blue-font {
	color: #0f00ca;
}
.spin {
	animation: rotate 1s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: $mobile-width) {
	aside {
		display: none;
	}
	.table {
		width: 100%;
	}
}
