@media print {
	* {
		break-inside: avoid;
	}
	.notPrintable {
		display: none !important;
	}
}
.list {
	list-style-type: none;
}
.listItem {
	min-height: 1.5rem;
	width: fit-content;
	margin: 0 auto 0.6rem auto;
	border-radius: 5px;
	display: grid;
	place-items: center;
}
.draggable:hover {
	cursor: grab;
	background-color: blue;
	color: azure !important;
}
.button {
	font-family: Work Sans;
	font-weight: 600;
	background-color: var(--backgroundOrange);
	border: 1px solid var(--borderColor);
	border-radius: 5px;
	font-size: 1rem;
	padding: 1px 0.5rem;
	cursor: pointer;
	transition: transform 0.05s linear;
}
.button:hover {
	transform: translate(+1.5px, +1.5px);
}
.buttonDisabled {
	pointer-events: none;
}
.schedulesContainer {
	text-align: center;
	width: 100%;
	display: flex;
	padding-top: 1rem;
}
.schedulesContent {
	display: flex;
	flex-flow: column;
	align-items: center;
	flex-grow: 2;
	flex-shrink: 0;
}
.table {
	border-collapse: collapse;
	margin-bottom: 2rem;
}
.table td {
	width: 8rem;
	height: 3rem;
	border: 1px solid black;
}
.tableTitle {
	font-family: 'Gilroy';
	font-size: 1.2rem;
	letter-spacing: 1px;
	background-color: var(--backgroundViolet) !important;
}
.tableTitle::first-letter {
	text-transform: capitalize;
}
.whiteBackground,
.orangeBackground {
	font-weight: 500;
	cursor: default;
}
.whiteBackground {
	background-color: #fff;
}
.orangeBackground {
	background-color: var(--backgroundOrange);
}
input[type='date'] {
	text-align: center;
}
/* Chrome calendar icon in date input */
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
	margin: 0;
}
.redFont {
	color: #a80505;
}
.blueFont {
	color: #0f00ca;
}
.spin {
	animation: rotate 1s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@media only screen and (max-width: 500px) {
	aside {
		display: none;
	}
	.schedulesContent {
		width: 100%;
	}
}
