@import-normalize;
:root {
	--backgroundTheme: #c8eaf3;
	--fontColor: #0c1a1f;
	--backgroundYellow: #eaf3c8;
	--backgroundViolet: #cdc0f9;
	font-size: 20px;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--backgroundTheme);
	color: var(--fontColor);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
