@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy'),
		url('./resources/fonts/Gilroy-ExtraBold.otf') format('opentype');
}
@font-face {
	font-family: 'Gilroy-Light';
	src: local('Gilroy-Light'),
		url('./resources/fonts/Gilroy-Light.otf') format('opentype');
}
:root {
	--backgroundBlue: #c8eaf3;
	--fontColor: #06151a;
	--backgroundYellow: #eaf3c8;
	--backgroundViolet: #cdc0f9;
	--backgroundOrange: #f4af8b;
	--borderColor: #3f1a06;
	--red: #f11717;
	font-size: 22px;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Roboto';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--backgroundBlue);
	color: var(--fontColor);
	min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Gilroy';
}
@media only screen and (max-width: 500px) {
	:root {
		font-size: 14px;
	}
}
